nav{
  font-family: 'Bungee', cursive;
  height:120px;
  background-color:  #4056A1;
  padding:1.5em;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}
nav .newTweet{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: medium;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  width: 200px;

}