.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container h2{
  text-align: center;
}
.Text{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2em;
}
.Button{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2em;
}
.Text label{
  font-family: 'Source Sans Pro', sans-serif;
  
}
.Button button{
  font-family: 'Bungee', cursive;
  background-color:  #4056A1;
  color: #E6E6FA;
}
 .counter{
  font-family: 'Bungee', cursive;
}

#tweet-text{
  background: none;
  border: none;
  border-bottom: black 3px solid;
  width:600px;
  margin-bottom: 1em;
  resize: none;
}
