.container h2{
  text-align: center;
}
 #error-message{
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #D8000C;
	background-color: #FFBABA;
	background-image: url('https://i.imgur.com/GnyDvKN.png');
} 
.compose-tweet{
  display: none;
}
.Text{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2em;
}
.Button{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2em;
}
.Text label{
  font-family: 'Source Sans Pro', sans-serif;
  
}
.Button button{
  font-family: 'Bungee', cursive;
  background-color:  #4056A1;
  color: #E6E6FA;
}
 .counter{
  font-family: 'Bungee', cursive;
}

#tweet-text{
  background: none;
  border: none;
  border-bottom: black 3px solid;
  width:600px;
  margin-bottom: 1em;
  resize: none;
}
@media only screen and (min-width:1024px){
  .container h2{
    margin-top: 300px;
  }
}

