.tweet{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border:solid #696969;
  border-width: thick;
  padding: 20px;
  margin-bottom: 2em;
}
.tweet:hover{
box-shadow:5px 6px #6495ED ;
}

#tweets-container{
  margin-top: 150px;
}

.tweet header{
  display: flex;
  align-items:center;
  font-family: 'Source Sans Pro', sans-serif;
  color: #696969;
}
.handle{
  display: none;
}
 .tweet:hover .handle{
   display: block;
   color: #ADD8E6;
   margin-left: 350px;
} 
.tweet footer{
  display: flex;
  justify-content: space-between;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: small;
  color: #696969;
}
.tweet-image{
  height: 100px;
  width: 100px;
}
.tweet p{
  border-bottom: solid #696969;;
  border-width: thick;
  padding: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  color:#696969;
}
.blue{
  color: #4056A1;
  font-size: small;
 padding:0.5em
}

